<button class="btn btn-success btn-block" id="esign_btn" (click)="doEsign()">E-Sign PDF</button>

<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="true"
              [fit-to-page]="true"
              [zoom]="1"
      [zoom-scale]="'page-width'"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
  ></pdf-viewer>

  <h4 [ngClass]="{'show-verified-sign': verification == true}" class="verified-sign">Verified</h4>