@import './../../../../../variables.scss';

#sanctionLetter_pdfData {
    font-family: $regular-font;
    font-size: 1.2rem;
    ul {
        list-style-type: none;
        padding: 0;
    }

    table {
        tr {
            td:nth-child(odd) {
                min-width: 25vw;
            }
        }
    }

    h4 {
        font-family: $semi-bold-font;
        font-size: 1.1rem;
    }
}