pdf-viewer {
    height: 100vh;
}

#esign_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}

.verified-sign {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 30vw;
    color: #198754;
    transition: transform 500ms ease-in-out 25ms;
    background-color: #198754;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.show-verified-sign {
    display: block!important;
    transform:  translateY(-75px);
}