<button class="btn btn-success btn-block" id="esign_btn">E-Sign PDF</button>

<!-- <div id="sanctionLetter_pdfData" class="p-5" style="font-size: 1.2rem;font-family: 'regular_font', sans-serif!important;">
    <div class="date mb-3">31-10-2021</div>
    <ul class="address" style="list-style-type: none;padding: 0;">
        <li>Company Name</li>
        <li>Address Line</li>
        <li>Company City, state, zipcode</li>
    </ul>
    <h4 class="mt-3" style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">Congralations!</h4>
    <p>
        We are pleased to inform you that, after evaluating your request, Bank Name has approved the following term loan 
        subject to conditions detailed below:
    </p>
    <table class="mt-3 mb-3">
        <tbody>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">BORROWER</h4></td>
                <td>COMPANY NAME</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">AMOUNT</h4></td>
                <td>$</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">RATE (%)</h4></td>
                <td>%</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">LATE CHARGES (%)</h4></td>
                <td>5.00</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">DEFAULT RATE (%)</h4></td>
                <td>2.00</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">PREPAYMENT PENALTY (%)</h4></td>
                <td>3.00</td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">REPAYMENT</h4></td>
                <td>
                    This term loan will be repaid by 59 consecutive monthly payments of principal and interest of 
                    $, with a final payment (60) of $plus any accured interest and/or late charges accumulated, 
                    if applicable.
                </td>
            </tr>
            <tr>
                <td style="min-width: 25vw;"><h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">PERSONAL GUARANTEE</h4></td>
                <td>
                    <h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">INCLUDE DETAILS AS IN APPLICATION</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        This approval is subject to additional validations and delivery of business documents. In addition, if you have 
        an existing commercial credit relationship with us the approval will be subject to verification of payment and 
        financial performance of those credit facilities.
    </p>
    <p>
        This commitment is subject to the preparation, execution, and delivery of documentation in the form and substance 
        satisfactory to Bank Name, in which, in addition to substantially incorporating the terms and conditions set forth above,
        other terms and conditions will be included as necessary for this type of transaction.
    </p>
    <p>Please evidence your approval of the foregoing by consenting this commitment letter.</p>
    <h4 style="font-size: 1.1rem;font-family: 'semi_bold', sans-serif!important;">This offer expires in 10 days.</h4>

    <div class="d-flex justify-content-between mt-4">
        <div>
            concent
        </div>
        <div>
            Date
        </div>
    </div>
</div> -->

<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="true"
              [fit-to-page]="true"
              [zoom]="1"
      [zoom-scale]="'page-width'"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
  ></pdf-viewer>

  <h4 [ngClass]="{'show-verified-sign': verification === true}" class="verified-sign">Verified</h4>