<div class="container">
  <div class="header-row row p-2">
    <div class="img-con" style="width: 100px;">
      <img src="./../../../../../assets/images/logo.png" alt="" style="width: 100%;">
    </div>
  </div>
</div>
<hr class="m-0">
<div class="container user-authentication-con">
  <div class="body-row row">
    <div class="col-12 col-md-6">
      <div class="">
        
        <div class="aadhar-con" *ngIf="aadhar_verification === true && cust_detail_verification === false">
          <h4 class="mt-5 p-relative">
            Let's quickly verify your identity
          </h4>
          <form [formGroup]="aadhar_form"  autocomplete="off">
            <div class="p-relative" style="font-size: 20px;">
              <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
              Enter your Name
            </div>
            <div class="mt-3 mb-4">
              <input type="text" class="main-input" name="name" formControlName="name"
                [ngClass]="{ 'is-invalid': aadhar_submitted && aadhar.name.errors }">
              <div *ngIf="aadhar_submitted && aadhar.name.errors" class="invalid-feedback">
                <div *ngIf="aadhar.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="p-relative" style="font-size: 20px;">
              <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
              Enter your AADHAR Number
            </div>
            <div class="mt-3 mb-4">
              <p-inputMask formControlName="aadhar_no" class="main-input" [(ngModel)]="aadhar_id" slotChar=" "
                mask="9999 9999 9999" [autoClear]="false" placeholder="xxxx xxxx xxxx"
                [ngClass]="{ 'is-invalid': aadhar_submitted && aadhar.aadhar_no.errors || invalid_aadhar }">
              </p-inputMask>
              <div *ngIf="aadhar_submitted && aadhar.aadhar_no.errors || invalid_aadhar" class="invalid-feedback">
                <div *ngIf="aadhar.aadhar_no.errors?.required">Aadhar ID is required</div>
                <div *ngIf="invalid_aadhar">
                  Aadhar must be 12 digits number
                </div>
              </div>
            </div>
          </form>
          <button class="btn action-confirm-btn" (click)="SubmitAadhar()" type="button">Authenticate</button>
            <p class="mt-3" style="color: #b0adad;font-size: 13px;">
              <b style="color: #615f5a;">Aadhaar</b> Card gives you easy access to numerous <b
                style="color: #615f5a;">loans</b> and other financial services. <br>
              The loan applicants are asked to provide Know Your Customer (KYC) documents and <br> <b
                style="color: #615f5a;">Aadhaar</b> Card is a solid proof
              of your citizenship and identity.
            </p>
        </div>
      </div>
      
      <div class="choose-profession-con"  *ngIf="aadhar_verification === false && cust_detail_verification === true">
        <h4 class="mt-5 p-relative">
          <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
          Almost done, just a few more details
        </h4>

        <form [formGroup]="user_details_form" (ngSubmit)="SubmitUserDetail()" autocomplete="off">
          <div class="form-header-con">
            <p class="p-dialog-title">Choose your Profession</p>
            <div class="d-flex">
              <div class="p-field-radiobutton d-flex align-items-center">
                <p-radioButton name="professional_type" formControlName="professional_type" value="salaried"
                  [(ngModel)]="selectedValue"></p-radioButton>
                <label class="ms-3" for=""><i class="fa fa-user-o" aria-hidden="true"></i> Salaried</label>
              </div>
              <div class="p-field-radiobutton d-flex align-items-center mx-5">
                <p-radioButton name="professional_type" formControlName="professional_type" value="self employed"
                  [(ngModel)]="selectedValue"></p-radioButton>
                <label class="ms-3" for=""><i class="fa fa-briefcase" aria-hidden="true"></i> Self Employed</label>
              </div>
            </div>
          </div>
          <div class="form-body">
            <div class="row form-elements-con">
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Name your Organization</label>
                  <input type="text" class="main-input" name="organization_name" formControlName="organization_name"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.organization_name.errors }">
                  <div *ngIf="user_details_submitted && user_detail.organization_name.errors" class="invalid-feedback">
                    <div *ngIf="user_detail.organization_name.errors.required">Organization is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Monthly Income (In-Hand)</label>
                  <input type="text" class="main-input" name="monthly_income" floatingValue formControlName="monthly_income"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.monthly_income.errors }">
                  <div *ngIf="user_details_submitted && user_detail.monthly_income.errors" class="invalid-feedback">
                    <div *ngIf="user_detail.monthly_income.errors.required">Income is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Desired Funding Amount</label>
                  <input type="text" class="main-input" name="desired_fund_amount" floatingValue formControlName="desired_fund_amount"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.desired_fund_amount.errors }">
                  <div *ngIf="user_details_submitted && user_detail.desired_fund_amount.errors" class="invalid-feedback">
                    <div *ngIf="user_detail.desired_fund_amount.errors.required">Funding Amount is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Loan Tenure (In Month)</label>
                  <input type="text" class="main-input" name="loan_tenure" numbersOnly formControlName="loan_tenure"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.loan_tenure.errors }">
                  <div *ngIf="user_details_submitted && user_detail.loan_tenure.errors" class="invalid-feedback">
                    <div *ngIf="user_detail.loan_tenure.errors.required">Tenure is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Mother's Maiden Name</label>
                  <input type="text" class="main-input" name="mothers_maiden_name" formControlName="mothers_maiden_name"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.mothers_maiden_name.errors }">
                  <div *ngIf="user_details_submitted && user_detail.mothers_maiden_name.errors"
                    class="invalid-feedback">
                    <div *ngIf="user_detail.mothers_maiden_name.errors.required">Mother's Maiden Name is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="form-group p-relative">
                  <label for="">Office Pincode</label>
                  <input type="text" class="main-input" name="office_pin_code" formControlName="office_pin_code"
                    [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.office_pin_code.errors }">
                  <div *ngIf="user_details_submitted && user_detail.office_pin_code.errors"
                    class="invalid-feedback">
                    <div *ngIf="user_detail.office_pin_code.errors.required">Office Pincode is required</div>
                  </div>
                  <i class="fa fa-exclamation-circle p-absolute" aria-hidden="true"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="form-upload-con mt-4">
            <div class="col-12 col-md-12">
              <div class="form-group d-flex justify-content-between align-items-center p-relative">
                <label for="">Upload your last 3 months salary slips <br> <i
                    style="font-size: 0.8rem;color: #b0adad;">(Accepts pdf format only)</i></label>
                  <input type="file" class="hidden-file-input" accept=".pdf" name="salary_slips"
                    multiple  formControlName="salary_slips" (change)="onFileChange($event)"
                   [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.salary_slips.errors }" >
                <div class="upload-btn d-flex align-items-center">
                  <i class="fa fa-cloud-upload mx-2" aria-hidden="true"></i>
                  <span>Upload</span>
                </div>
                <div *ngIf="user_details_submitted && user_detail.salary_slips.errors" class="invalid-feedback p-absolute" style="position: absolute;
                   right: 0;top: 41px;max-width: 175px;">
                   <div *ngIf="user_detail.salary_slips.errors.required">Salary Slips are required</div>
                  </div>
              </div>
              
              <div class="error-message text-end" *ngIf="file_exceeded">
                You can upload only three payslips
              </div>
              <div class="error-message text-end" *ngIf="file_count_less">
                3 payslips are required
              </div>
            </div>
            <div class="col-12 col-md-12 file-name-con text-end">
              <span class="p-relative" *ngFor="let file_name of file_names">{{file_name}} 
                <span class="delete_file_btn" (click)="delete_file(file_name)"><i class="fa fa-close"></i></span>
              </span>
            </div>

          </div>

          <h4 class="mt-5 p-relative">
            <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
            Please provide consent
          </h4>
          <div class="p-field-checkbox d-flex align-items-center terms-conditions-con mt-4 mb-4">
            <p-checkbox [(ngModel)]="consent_value" [binary]="true" name="accept_terms" formControlName="accept_terms"
              [ngClass]="{ 'is-invalid': user_details_submitted && user_detail.accept_terms.errors }"></p-checkbox>
            <label class="conditions-text">
              I hereby provide consent to use PAN details mentioned above to fetch Credit Bureau
              and I agree to <a href="">Terms & Conditions</a> and <a href="">Privacy Policy</a>
            </label>
            <div *ngIf="user_details_submitted && user_detail.accept_terms.errors" class="invalid-feedback">
              <div *ngIf="user_detail.accept_terms.errors.required">Please provide consent</div>
            </div>
          </div>
          <div class="submit-btn-con d-flex align-items-center mb-5">
            <button class="btn action-confirm-btn" type="submit">Submit
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <label class="conditions-text">
              We intend to ask only the relevant questions,
              They will appear as we know about your needs
            </label>
          </div>

        </form>
      </div>

    </div>
    <div class="col-12 col-md-6">
      <div class="stepper-con mt-4">
        <div class="stepper-horizontal" id="stepper1">
          <div class="step done">
            <div class="step-circle"></div>
            <div class="stage-btn-click">
              <div class="step-title">1</div>
              <div class="step-optional">Specify Your Needs</div>
            </div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
          </div>
          <div class="step editing">
            <div class="step-circle"></div>
            <div class="stage-btn-click">
              <div class="step-title">2</div>
              <div class="step-optional">User Authentication</div>
            </div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
          </div>
          <div class="step">
            <div class="step-circle"></div>
            <div class="stage-btn-click">
              <div class="step-title">3</div>
              <div class="step-optional">Loan Offers</div>
            </div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
          </div>
          <div class="step">
            <div class="step-circle"></div>
            <div class="stage-btn-click">
              <div class="step-title">4</div>
              <div class="step-optional">Loan Approval</div>
            </div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
          </div>
        </div>

      </div>
      <div class="stage-img-con" style="width: 31vw;margin: 0 auto;">
        <img class="img-fluid" src="./../../../../../assets/images/screen2.png" alt="">
      </div>
    </div>
  </div>
</div>

<p-dialog header="Authenticate your AADHAR" [(visible)]="AadharAuthenticateModal" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="otp_form" (ngSubmit)="SubmitOtp()" autocomplete="off">
    <div class="form-group">
      <label for="">Enter OTP</label>
      <input type="text" name="otp" formControlName="otp" class="main-input form-control"
        [ngClass]="{ 'is-invalid': otp_submitted && otp.otp.errors }">
      <div *ngIf="otp_submitted && otp.otp.errors" class="invalid-feedback">
        <div *ngIf="otp.otp.errors.required">OTP is required</div>
      </div>
    </div>
    <div class="text-end mt-2">
      <button type="button" class="resend-btn" (click)="SubmitAadhar()">Resend OTP</button>
    </div>
    <div class="mt-4">
      <button class="btn action-confirm-btn" type="submit" style="width: 100%;">Confirm</button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Aadhar Verified Successfully" [(visible)]="AadharSuccessModal" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
  <div class="mt-4 text-center">
    <button class="btn action-confirm-btn" (click)="AadharSuccessModal=false;aadhar_verification=false;
    cust_detail_verification=true;">Close</button>
  </div>
</p-dialog>