@import "./../../../../../utility-classes-styles.scss";

.loan-approval-con {
    .funding-options-box {
        box-shadow: 0px 1px 2px 2px #e8e8e8;
        border-radius: 4px;
        background-color: #fff;
        .option-detail-heading {
            font-family: $semi-bold-font;
            font-size: 0.9rem;
            color: $shade-grey;
            margin-bottom: 8px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .option-detail {
            width: 33.33%;
        }
    }
    
}

.reference-con {
    background-color: #f4eee2;
    border-radius: 3px;

    .main-input {
        padding-bottom: 1rem;
        padding-left: 0;
        margin-bottom: 0.5rem;
        border-color: $primary-grey;
        width: 100%;
    } 
}

:host ::ng-deep .p-dropdown {
    width: 100%;
  }

label {
    color: #000;
    font-family: $semi-bold-font;
}
  

#edit_user_details {
    .form-header-con {
        min-height: 18vh;
        background-color: $primary-green;
        padding: 18px;
        border-radius: 8px;
        color: #fff;
        box-shadow: 0px 3px 3px 2px #b0adad54;
        .p-dialog-title {
            font-size: 1.2rem;
            color: #fff;
        }
    }
    .form-body {
        background-color: #fff;
        padding: 18px;
        border-radius: 8px;
        position: relative;
        top: -13px;
        box-shadow: 0px 3px 3px 2px #b0adad54;
        .main-input {
            width: 100%;
            padding-right: 15px;
            border-color: $primary-grey;
        }
        .form-elements-con {
            &>div {
                margin-bottom: 2rem;
            }
            .fa-exclamation-circle {
                top: 28px;
                right: 0;
                color: $primary-grey;
            }
        }
    }

    .form-upload-con {
        @extend .form-body;
        box-shadow: 0px 1px 4px 4px #b0adad54;
        .upload-btn {
            background-color: $primary-green;
            color: #fff;
            padding: 8px 20px;
            width: 125px;
            border-radius: 30px;
            &:hover {
                box-shadow: none;
            }
        }
    }

    .conditions-text {
        font-size: 0.8rem;
        margin-left: 1rem;
        color: $primary-grey;
    }

    .submit-btn-con {
        .action-confirm-btn {
            padding: 1rem 5rem;
            position: relative;
        }
        .fa-angle-right {
            position: absolute;
            right: 28px;
            top: 13px;
            font-size: 2rem;
        }
        .conditions-text {
            @extend .conditions-text;
        }
    }
}

.esign-completed-btn {
    color: $primary-green;
    font-family: $semi-bold-font;
    pointer-events: none;
}

pdf-viewer {
    height: 100%!important;
}
::ng-deep #esign_Modal  {
    .p-dialog-content {
        position: relative;
        height: 100vh;
        
        #esign_btn {
            position: absolute;
            right: 4vw;
            top: 2vh;
            z-index: 100;
        }
    }
}

