<div class="container">
    <div class="header-row row p-2">
        <div class="img-con" style="width: 100px;">
          <img src="./../../../../../assets/images/logo.png" alt="" style="width: 100%;">
        </div>
    </div>
  </div>
  <hr class="m-0">
  <form action="">
    <div class="container loan-approval-con">
        <div class="body-row row">
            <div class="col-12 mb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mt-5 p-relative mb-4">
                                <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -38px;font-size: 2rem;"></i>
                                Post E-sign process
                            </h4>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                    <input type="text" class="main-input" formControlName="bank_name" name="bank_name" charactersOnly placeholder="Bank Name"/>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6 mt-2">
                                    <input type="text" class="main-input" formControlName="acc_num" name="acc_num" charactersOnly placeholder="Account Number"/>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6 mt-2 mt-lg-4 mt-md-2 ">
                                    <input type="text" class="main-input" formControlName="ifsc" name="ifsc" charactersOnly placeholder="IFSC Code"/>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="form-upload-con mt-2">
                                <div class="col-12 col-md-12">
                                    <div class="upload-box pb-3 form-group d-flex justify-content-between align-items-center p-relative">
                                        <label for="">Cancelled Check - Document upload</label>
                                        <input type="file" class="hidden-file-input" accept=".pdf" name="salary_slips"
                                            multiple  formControlName="salary_slips">
                                        <div class="upload-btn d-flex align-items-center">
                                            <i class="fa fa-cloud-upload mx-2" aria-hidden="true"></i>
                                            <span>Upload</span>
                                        </div>
                                    </div>
                                    <div class="upload-box pt-3 pb-3 form-group d-flex justify-content-between align-items-center p-relative">
                                        <label for="">Employee ID Card - Document Upload</label>
                                        <input type="file" class="hidden-file-input" accept=".pdf" name="salary_slips"
                                            multiple  formControlName="salary_slips">
                                        <div class="upload-btn d-flex align-items-center">
                                            <i class="fa fa-cloud-upload mx-2" aria-hidden="true"></i>
                                            <span>Upload</span>
                                        </div>
                                    </div>
                                    <div class="upload-box pt-3 form-group d-flex justify-content-between align-items-center p-relative">
                                        <label for="">Bank Account Statement of Last 3 <br>months - Document upload</label>
                                        <input type="file" class="hidden-file-input" accept=".pdf" name="salary_slips"
                                            multiple  formControlName="salary_slips">
                                        <div class="upload-btn d-flex align-items-center">
                                            <i class="fa fa-cloud-upload mx-2" aria-hidden="true"></i>
                                            <span>Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="img-con" style="width: 27vw;margin: 0 auto;">
                                <img class="img-fluid" src="./../../../../../assets/images/screen4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
      </div>
  </form>
  
  


  

  