@import "./variables.scss";

button:focus {
    outline: none;
    box-shadow: none;
}

.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}

.header-text {
    font-family: $header-font;
    font-size: 1.5rem!important;
    color: #171414;
}

b {
    font-family: $semi-bold-font;
}

.action-confirm-btn {
    font-family: $regular-font;
    padding: 8px 25px;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: $stepper-active-font-color;
    cursor: pointer;
    &:hover {
        background-color: #faa714;
    }
    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px $stepper-bar-color;
    }
}

.action-btn-transparent {
    @extend .action-confirm-btn;
    background-color: transparent;
    border: 1px solid $primary-green;
    color: $primary-green;

    &:hover {
        background-color: $primary-green;
        color: #fff;
    }
    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px $shade-green;
    }
    &:focus {
        box-shadow: none;
    }
}

.action-btn-filled {
    @extend .action-btn-transparent;
    color: #fff;
    background-color: $primary-green;
}

.main-input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $font-color1;
    border-radius: 0;
    padding: 3px 5px;
    outline: none;
    &:focus {
        box-shadow: none;
    }
}

p-inputmask {
    border-bottom: none!important;
    input.p-inputmask {
        @extend .main-input;
        font-size: 1.2rem!important;
        border-bottom-color: $shade-grey;
        &:focus {
            box-shadow: none!important;
        }
        &:hover {
            border-color: $shade-grey!important;
        }
    }
}

p-inputmask.ng-dirty.ng-invalid > .p-inputtext {
    border-color: $shade-grey;   
}

.p-inputtext:enabled:hover {
    border-color: $shade-grey!important;
}
.error-message {
    font-size: .875em;
    color: #dc3545;
    font-family: $regular-font;
}